.dart_tool/
.packages
.pub_cache/
build/

**/android/local.properties
**/android/.gradle
**/ios/DerievedData/
*.apk
*.ipa

.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
.env
